<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../../public/style.css">
    
</head>

<body>
    {{>header}}
    <input id="input" placeholder="Enter ticker symbol of stock" type="text">
    <button id="submit-button" type="submit">Submit</button>
    <div id="output"></div>
    <script src="user.js"></script>
</body>
</html>